@import './_font'
@import './_icons'
@import './_variables'
@import '../../node_modules/bootstrap/scss/bootstrap.scss'

header
    background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url("../img/banner1.jpg")
    background-size: cover
    .nav-link
        &:hover
            background-color: red
.bg-foods
    background-image: url("../img/main_bg.jpg")
#team
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9)),url("../img/team_background.jpg")
#testimonials
    background-image: url("../img/testimonials_background.jpg")
h2
    font-family: 'Courgette', sans-serif
.rounded-4
    border-radius: .6rem
